<%- include("header") %> <%- include("sidebar") %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Faculty Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin-dashboard">Home</a></li>
            <li class="breadcrumb-item active">Faculty Form</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                <span class="fa fa-plus-circle mr-1"></span> Faculty Form
              </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post">
              <div class="card-body">
                <div class="form-group row">
                  <label for="facultyName" class="col-sm-3 col-form-label"
                    >Username</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="facultyName"
                      placeholder="Faculty Name"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mobileNo" class="col-sm-3 col-form-label"
                    >Mobile No.</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      pattern="[0-9]{10}"
                      title="Please enter a 10-digit mobile number"
                      id="mobileNo"
                      name="mobileNo"
                      placeholder="Mobile Number"
                      maxlength="10"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-3 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                      placeholder="Email ID"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-3 col-form-label"
                    >Password</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Password"
                      maxlength="25"
                      minlength="4"
                      required
                    />
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-primary"
                  onclick="return validateUsername()"
                >
                  Submit
                </button>
                <button type="reset" class="btn btn-default float-right">
                  Reset
                </button>
              </div>
              <!-- /.card-footer -->
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </section>
  <!-- /.content -->
</div>

<%- include("footer") %>
