<%- include('header') %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <div class="col-sm-8 mx-auto border p-3 bg-white">
        <h2 class="text-primary text-center p-3">Appoint Counselor</h2>
        <form class="text-center " method="post">
          <div class="mb-3 mt-3 row">
            <label for="counselorName" class="col-sm-4 col-form-label"
              >Counselor</label
            >
            <div class="col-sm-8">
              <select class="form-control" id="counselorName" name="counselorName">
                  <% users.forEach((row) => { %>
                    <option value="<%= row.counselorName %>" <% if (row.counselorName === inquiries.counselorName) { %>selected<% } %> ><%= row.counselorName %></option>
                  <% }); %>
              </select>
            </div>
            <button class="mx-auto mt-3 btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<%- include('footer') %>
